# Node
node_modules/
dist/
build/
*.log
.env
.env.*
services/lifi/node_modules/
# TypeScript
.tsbuildinfo

# Foundry
onchain/hooks/lib/
onchain/hooks/out/
onchain/hooks/cache/
onchain/hooks/broadcast/

# OS / Editor
.DS_Store
.idea/
.vscode/
